body {
    font-family: sans-serif;
    margin: 30px 40px;
}

h1 {
    font-size: 20px;
    margin-bottom: 28px;
}

.categorias > li {
    margin-bottom: 18px;
    font-size: 17px;
}

ol {
    margin-top: 8px;
}

ol li {
    margin-bottom: 2px;
    color: #666;
    font-size: 14px;
}