body {
    padding: 30px;
}

/* figura azul */
.figura1 {
    width: 120px;
    height: 120px;
    background-color: blue;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

    margin-bottom: 25px;
}

/* figura verde */
.figura2 {
    width: 120px;
    height: 120px;
    background-color: green;

    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;

    margin-bottom: 25px;
}

/* círculo morado */
.figura3 {
    width: 120px;
    height: 120px;
    background-color: purple;

    border-radius: 50%;
}