body{background:#e6e6e6;font-family:Arial;}
h2{text-align:center;color:red;}

.layout{
  width:800px;
  margin:30px auto;
  display:grid;
  grid-template-columns:1fr 2fr 1fr;
  grid-template-rows:70px 200px 100px;
  gap:10px;
}

header{
  grid-column:1/4;
  background:#29b6f6;
  display:flex;justify-content:center;align-items:center;
}

.left{background:#ff5722;display:flex;justify-content:center;align-items:center;}
main{background:#32cd32;display:flex;justify-content:center;align-items:center;}
.right{background:#ffd600;display:flex;justify-content:center;align-items:center;}

footer{
  grid-column:1/4;
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:10px;
  background:#6a1b9a;
  padding:10px;
}

footer div{
  background:#f48fb1;
  display:flex;justify-content:center;align-items:center;
}