body {
    font-family: serif;
    font-size: 16px;
}

.menu {
    width: 260px;
    margin: 20px;
}

p {
    margin: 0 0 8px 0;
    color: olive;
    text-decoration: underline;
}

ul {
    margin: 0;
    padding-left: 35px;
    border-top: 1px solid #999;
    padding-top: 10px;
}

li {
    margin-bottom: 3px;
}

li::marker {
    color: red;
}

a {
    color: green;
}