body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
}

/* grid principal */
.grid {
    width: 700px;

    margin: auto;

    display: grid;

    grid-template-columns: 1fr 2fr;

    gap: 2px;
}

/* celda superior */
.celda1 {
    background-color: #b27411;

    color: white;

    text-align: center;

    padding: 30px;

    grid-column: span 2;

    font-size: 28px;
}

/* lateral */
.celda2 {
    background-color: #748795;

    color: white;

    padding: 35px;

    font-size: 28px;
}

/* contenido */
.celda3 {
    background-color: #748795;

    color: white;

    padding: 35px;

    font-size: 24px;
}

/* footer */
.celda4 {
    background-color: #666;

    color: white;

    text-align: center;

    padding: 30px;

    grid-column: span 2;

    font-size: 28px;
}